@{
    ViewBag.Title = "Home Page";
}
<section class="headlines clearfix">
    <div class="col-left">
        <div class="rl-header">
            <div class="sm-container">
                <h1>News Headlines</h1>
                <p>for the Rugby Super League, Championship and more</p>
            </div>
        </div>
        <div class="feed-options">
            <div class="sm-container">
                @Html.ActionLink("Latest News", "latest", "news", null, new { id = "latest" })
                <a id="trending" href="@Url.Action("trending", "news")">
                    Trending <i class="fa fa-fire"></i>
                </a>
                @Html.ActionLink("Most Popular", "popular", "news", null , new { id= "popular" })
                @Html.ActionLink("Most Discussed", "discussed", "news", null, new { id = "discussed" })
                <div class="option-divider"> | </div>
                <a>Create Feed <i class="fa fa-plus"></i></a>
                <select class="@(ViewData["FeedTitle"].ToString() == "Latest News" ? "hide" : "")">
                    <option>Past 24h</option>
                    <option>Past Week</option>
                    <option>Past Month</option>
                    <option>Past Year</option>
                    <option>All Time</option>
                </select>
                <label class="@(ViewData["FeedTitle"].ToString() == "Latest News" ? "hide" : "")"><i class="fa fa-filter"></i> Filter:</label>
            </div>
        </div>
        <div class="sm-container">
            <div class="titlebar">
                <h2>@ViewData["FeedTitle"]</h2>
            </div>
            @Html.Partial("NewsFeed")
        </div>
        <footer class="rl-footer clearfix">
            <div class="sm-container">
                <div class="col-md-4">
                    <a href="home" class="footer-brand">RLNews <i class="fa fa-rss"></i></a>
                </div>
                <div class="col-md-4 footer-copy">
                    <p>Copyright &copy; @DateTime.Now.Year - RLNews.co.uk</p>
                </div>
                <div class="col-md-4 social-links">
                    <a><i class="fa fa-facebook"></i></a>
                    <a><i class="fa fa-twitter"></i></a>
                    <a><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
        </footer>
    </div>
    @Html.Partial("_SidebarPartial")
</section>

