<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    
    @Styles.Render("~/bundles/css")
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="sm-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">RLNews <i class="fa fa-rss"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("News", "Index", "News", null, new { id = "news" })</li>
                    <li>@Html.ActionLink("My Team", "Index", "MyTeam", null, new { id = "myteam" })</li>
                    <li>@Html.ActionLink("Tables", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Fixtures", "Contact", "Home")</li>
                </ul>
                <div class="nav-right">
                    @Html.Partial("_LoginPartial")
                    <input class="rl-search" type="search" placeholder="Search RLNews"> 
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", required: false)
</body>
</html>
