@model rlnews.Models.NewsViewModel
<div class="col-right">
    <div class="side-container">
        <div class="top-headlines">
            <h3>Top Headlines</h3>
            @{
                if (Model.SidebarList.Count == 0)
                {
                    <div>
                        <p>No News Found.</p>
                    </div>
                }

                var sidebarCount = 0;
                foreach (var newsItem in Model.SidebarList.Take(5))
                {
                    sidebarCount++;
                    <div class="top-item clearfix">
                        <div class="col-md-2">
                            <div class="item-num">
                                <span>@sidebarCount</span>
                            </div>
                        </div>
                        <div class="col-md-10">
                            <div class="item-content">
                                <a class="view-tracker" id="@newsItem.NewsId" href="@newsItem.SourceUrl">
                                    <h4 class="item-link">                                       
                                        @if (@newsItem.Title.Length > 55)
                                        {
                                            @newsItem.Title.Substring(0, Math.Min(55, newsItem.Title.Length))
                                            <span>...</span>
                                        }
                                        else
                                        {
                                            @newsItem.Title
                                        }
                                    </h4>
                                </a>
                                <p><a href="@newsItem.SourceUrl" class="source">@newsItem.SourceName</a> - @newsItem.PubDateTime.Day/@newsItem.PubDateTime.Month/@newsItem.PubDateTime.Year</p>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="upcoming-fixtures">
            <h3>Upcoming Fixtures <a href="#">View all <i class="fa fa-angle-double-right"></i></a></h3>
            @for (var i = 0; i < 5; i++)
            {
                <div class="fixture clearfix">
                    <div class="col-md-2">
                        <img class="img-responsive img-rounded" src="../../Assets/img/teams/logos/wakefield.gif" alt="" />
                    </div>
                    <div class="col-md-8 text-center">
                        <h4>Wakefield Vs Warrington</h4>
                        <p>12/07/15 - 3:30 KO</p>
                    </div>
                    <div class="col-md-2">
                        <img class="img-responsive img-rounded" src="../../Assets/img/teams/logos/wolves.gif" alt="" />
                    </div>
                </div>
            }

        </div>
    </div>
</div>